<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.monitor.mapper.RecordSleepingMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.RecordSleeping">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="base_id" property="baseId" jdbcType="INTEGER"/>
        <result column="machine_id" property="machineId" jdbcType="INTEGER"/>
        <result column="record_status" property="recordStatus" jdbcType="INTEGER"/>
        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>
        <result column="end_time" property="endTime" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="created_time" property="createdTime" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="VARCHAR"/>
        <result column="history" property="history" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <select id="getHistories" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.history.SleepingHistoryData">
        select
        heart_rate,respiratory_rate,sleep_state,timestamp
        from zs_sleeping_belt_info
        <where>
            <if test="machineId != null">
                and `machine_id` = #{machineId,jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY timestamp
    </select>
    <select id="getHeartRate" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.VO.monitor.MonitorHeartRateVO">
        SELECT
        rs.`id` as recordId,
        # zmi.`machine_id`,
        # zmi.machine_no,
        # zmi.machine_num,
        zmi.battery,
        zmi.`box_battery`,
        current.heart_rate as heart,
        CONCAT(TIMESTAMPDIFF(MINUTE, rs.start_time, CONCAT(CURDATE(),' ',CURTIME())) DIV 60,'小时',TIMESTAMPDIFF(MINUTE,
        rs.start_time, CONCAT(CURDATE(),' ',CURTIME())) MOD 60,'分') as useTimes
        FROM
        record_sleeping rs
        LEFT JOIN zs_machine_info zmi
        ON rs.`machine_id` = zmi.`machine_id`
        LEFT JOIN
        (SELECT * FROM zs_sleeping_belt_info WHERE machine_id = #{machineId,jdbcType=INTEGER} AND TIMESTAMPDIFF(MINUTE,
        create_time, CONCAT(CURDATE(),' ',CURTIME()))<![CDATA[<]]> 3 ORDER BY create_time DESC LIMIT 1) current
        on
        current.machine_id = rs.`machine_id`
        <where>
            <if test="recordId != null">
                and rs.id = #{recordId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="getRespiratoryRate" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.VO.monitor.MonitorRespiratoryRateVO">
        SELECT
        rs.`id` as recordId,
        # zmi.`machine_id`,
        # zmi.machine_no,
        # zmi.machine_num,
        zmi.battery,
        zmi.`box_battery`,
        current.respiratory_rate as respiratory,
        CONCAT(TIMESTAMPDIFF(MINUTE, rs.start_time, CONCAT(CURDATE(),' ',CURTIME())) DIV 60,'小时',TIMESTAMPDIFF(MINUTE,
        rs.start_time, CONCAT(CURDATE(),' ',CURTIME())) MOD 60,'分') as useTimes
        FROM
        record_sleeping rs
        LEFT JOIN zs_machine_info zmi
        ON rs.`machine_id` = zmi.`machine_id`
        LEFT JOIN
        (SELECT * FROM zs_sleeping_belt_info WHERE machine_id = #{machineId,jdbcType=INTEGER} AND TIMESTAMPDIFF(MINUTE,
        create_time, CONCAT(CURDATE(),' ',CURTIME()))<![CDATA[<]]> 3 ORDER BY create_time DESC LIMIT 1) current
        on
        current.machine_id = rs.`machine_id`
        <where>
            <if test="recordId != null">
                and rs.id = #{recordId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="getSleeping" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.SleepingState">
        SELECT rs.id, current.sleep_state as state, current.create_time as time
        from record_sleeping rs
        left join (SELECT *
        FROM zs_sleeping_belt_info
        WHERE machine_id = #{machineId,jdbcType=INTEGER} AND TIMESTAMPDIFF(MINUTE,
        create_time, CONCAT(CURDATE(),' ',CURTIME()))<![CDATA[<]]> 3
        ORDER BY CREATE_TIME DESC
        LIMIT 1) current on rs.machine_id = current.machine_id
        <where>
            <if test="recordId != null">
                and rs.`id` = #{recordId,jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="getBattery" parameterType="java.util.Map"
            resultType="java.lang.Integer">
        SELECT
        zmi.battery
        FROM
        record_sleeping rs
        LEFT JOIN zs_machine_info zmi
        ON rs.`machine_id` = zmi.`machine_id`
        <where>
            <if test="recordId != null">
                rs.`id` = #{recordId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="getHistoryRecords" parameterType="com.yjjk.monitor.entity.BO.history.GetRecordsBO"
            resultType="com.yjjk.monitor.entity.VO.history.RecordsHistory">
        SELECT record.`id` as recordId,
        pai.`name` as patientName ,pai.`case_num` as patientCaseNum,hd.`name` as
        departmentName,CONCAT(hr.`name`,hb.`name`) as roomAndBed ,
        record.`start_time` as startTime,record.`end_time` as endTime,record.record_status as recordStatus,
        mti2.name as machineName
        FROM
        record_sleeping record
        LEFT JOIN record_base rb
        ON record.`base_id` = rb.`id`
        LEFT JOIN patient_info pai
        ON rb.`patient_id` = pai.`patient_id`
        LEFT JOIN hospital_bed hb
        ON rb.`bed_id` = hb.`bed_id`
        LEFT JOIN hospital_room hr
        ON hb.`room_id` = hr.`room_id`
        LEFT JOIN hospital_department hd
        ON hr.`department_id` = hd.`department_id`
        LEFT JOIN zs_machine_info zmi ON record.`machine_id` = zmi.`machine_id`
        left join machine_type_info mti on zmi.machine_type_id = mti.id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            record.status = 0
            <if test="startDate != null">
                and record.created_time <![CDATA[>=]]> CONCAT(#{startDate, jdbcType=VARCHAR},' 00:00:00')
            </if>
            <if test="endDate != null">
                and record.created_time <![CDATA[<=]]> CONCAT(#{endDate, jdbcType=VARCHAR},' 24:00:00')
            </if>
            <if test="departmentId != null">
                and hd.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="patientName != null">
                and pai.name = #{patientName, jdbcType=VARCHAR}
            </if>
        </where>
        order by record.record_status ,record.created_time desc
    </select>

    <select id="getExportList" resultType="com.yjjk.monitor.entity.export.history.HistoryExportSleepingVO"
            parameterType="java.util.Map">
        SELECT
        pi.`name` AS patientName,
        pi.`case_num` AS caseNum,
        hd.`name` AS departmentName,
        hr.`name` AS room,
        hb.`name` AS bed,
        record.history,
        record.machine_id
        FROM
        record_sleeping record
        left join record_base rb on record.base_id = rb.id
        LEFT JOIN patient_info pi ON rb.`patient_id` = pi.`patient_id`
        LEFT JOIN hospital_bed hb
        ON hb.`bed_id` = rb.`bed_id`
        LEFT JOIN hospital_room hr
        ON hr.`room_id` = hb.`room_id`
        LEFT JOIN `hospital_department` hd
        ON hr.`department_id` = hd.`department_id`
        WHERE record.status = 0 and rb.status = 0
        <if test="date != null">
            AND record.`start_time`<![CDATA[>=]]> concat(#{date, jdbcType=VARCHAR} ,' 00:00:00')
            AND record.`start_time` <![CDATA[<=]]> concat(#{date, jdbcType=VARCHAR} ,' 24:00:00')
        </if>
        <if test="departmentId != null">
            and hd.department_id = #{departmentId,jdbcType=INTEGER}
        </if>
        <if test="recordId != null">
            and record.`id` = #{recordId,jdbcType=INTEGER}
        </if>
    </select>

</mapper>