<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.monitor.mapper.ZsBloodPressureRealMapper" >
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsBloodPressureReal" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="BIGINT" />
    <result column="repeaterId" property="repeaterid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="blood_pressure" property="bloodPressure" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>