<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.monitor.mapper.ZsBloodPressureInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsBloodPressureInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="blood_pressure" property="bloodPressure" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="BIGINT" />
    <result column="repeater_id" property="repeaterId" jdbcType="INTEGER" />
  </resultMap>
</mapper>