<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.monitor.mapper.ZsBloodPressureRealMapper" >
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsBloodPressureReal" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="hr" property="hr" jdbcType="INTEGER" />
    <result column="sys" property="sys" jdbcType="INTEGER" />
    <result column="dia" property="dia" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="BIGINT" />
    <result column="repeaterId" property="repeaterid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>

  <select id="getByMachineId" resultType="com.yjjk.monitor.entity.pojo.ZsBloodPressureReal"
          parameterType="java.lang.Integer">
    SELECT zbpr.*
    FROM zs_blood_pressure_real zbpr
    WHERE zbpr.machine_id = #{machineId,jdbcType=INTEGER}
      AND zbpr.repeaterId IS NOT NULL
    ORDER BY zbpr.create_time DESC
    LIMIT 1
  </select>
</mapper>