<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsEcgInfoMapper">
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsEcgInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="temperature_id" jdbcType="INTEGER" property="temperatureId" />
    <result column="machine_id" jdbcType="VARCHAR" property="machineId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="timestamp" jdbcType="BIGINT" property="timestamp" />
    <result column="ecg" jdbcType="LONGVARCHAR" property="ecg" />
  </resultMap>
</mapper>