<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsMachineInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        <id column="machine_id" jdbcType="INTEGER" property="machineId"/>
        <result column="machine_mac" jdbcType="VARCHAR" property="machineMac"/>
        <result column="machine_num" jdbcType="VARCHAR" property="machineNum"/>
        <result column="machine_no" jdbcType="VARCHAR" property="machineNo"/>
        <result column="department_id" jdbcType="INTEGER" property="departmentId"/>
        <result column="usage_state" jdbcType="INTEGER" property="usageState"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="battery" jdbcType="INTEGER" property="battery"/>
        <result column="box_battery" jdbcType="VARCHAR" property="boxBattery"/>
        <result column="machine_type_id" jdbcType="INTEGER" property="machineTypeId"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>

        <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
    </resultMap>
    <sql id="Base_Column_List">
        machine_id, `name`, machine_model, machine_num, machine_no, department_id, usage_state, remark,
    create_time, `status`, machine_type_id
    </sql>
    <update id="unbind" parameterType="java.util.Map">
        update zs_machine_info zmi
        left join hospital_room hr on hr.department_id = zmi.department_id
        left join hospital_bed hb on hb.room_id = hr.room_id
        <set>
            zmi.department_id = 0
        </set>
        <where>
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="roomId != null">
                and hr.room_id = #{roomId, jdbcType=INTEGER}
            </if>
            <!--            <if test="bedId != null">-->
            <!--                and hb.bed_id = #{bedId, jdbcType=INTEGER}-->
            <!--            </if>-->
        </where>
    </update>
    <select id="getNullDepartmentMachines" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.ListVO">
        select
        zmi.machine_id as id, zmi.machine_no as value
        from zs_machine_info zmi
        <where>
            zmi.status = 0
            and zmi.usage_state in (0,1)
            and zmi.department_id = 0
        </where>
    </select>
    <select id="getList" resultType="Integer">
        SELECT machine_id
        from zs_machine_info
        where 1 = 1
          and usage_state = 2
    </select>
    <select id="selectMachineCount" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo"
            resultType="java.lang.Integer">
        select
        count(1)
        from zs_machine_info zmi
        left join machine_type_info mti on mti.id = zmi.machine_type_id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            <if test="machineId != null">
                and zmi.machine_id = #{machineId,jdbcType=INTEGER}
            </if>
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="unUsedStatus != null">
                and zmi.usage_state = 0
            </if>
            <if test="deleteStatus != null">
                and zmi.usage_state = 1
            </if>
            <if test="normalStatus != null">
                and (zmi.usage_state = 0 or zmi.usage_state = 2)
            </if>
            <if test="machineTypeId != null">
                and mti2.id = #{machineTypeId, jdbcType=INTEGER}
            </if>
            <if test="machineNum != null">
                and zmi.machine_num like #{machineNum, jdbcType=VARCHAR}
            </if>
            and zmi.status = 0
        </where>
        order by field(zmi.department_id,0) desc, zmi.machine_id
    </select>
    <select id="selectByUsageState" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo"
            resultType="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        select
        zmi.machine_id, mti2.`name` as machineName, mti.name as machineModel, zmi.machine_num, zmi.machine_no,
        zmi.machine_mac,
        zmi.department_id,
        zmi.usage_state, zmi.remark,
        zmi.create_time, zmi.`status`, zdi.name as department_name,
        mti2.type_code,
        mti.id as machineTypeIdChild
        from zs_machine_info zmi
        left join hospital_department zdi on zmi.department_id = zdi.department_id
        left join machine_type_info mti on zmi.machine_type_id = mti.id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            <if test="machineId != null">
                and zmi.machine_id = #{machineId,jdbcType=INTEGER}
            </if>
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="unUsedStatus != null">
                and zmi.usage_state = 0
            </if>
            <if test="deleteStatus != null">
                and zmi.usage_state = 1
            </if>
            <if test="normalStatus != null">
                and (zmi.usage_state = 0 or zmi.usage_state = 2)
            </if>
            <if test="machineTypeId != null">
                and mti2.id = #{machineTypeId, jdbcType=INTEGER}
            </if>
            <if test="machineNum != null">
                and zmi.machine_num like #{machineNum, jdbcType=VARCHAR}
            </if>
            <if test="machineNo != null">
                and zmi.machine_no like #{machineNo, jdbcType=VARCHAR}
            </if>
            and zmi.status = 0
        </where>
        order by field(zmi.department_id,0) desc, zmi.machine_id
        <if test="startLine != null and pageSize != null">
            limit #{startLine},#{pageSize}
        </if>
    </select>
    <select id="selectUsageListByTypeId" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.ListVO">
        select
        zmi.machine_id as id, concat(zmi.machine_no,' | ',zmi.machine_num) as value,
        mti.id as machineTypeIdChild
        from zs_machine_info zmi
        left join hospital_department zdi on zmi.department_id = zdi.department_id
        left join machine_type_info mti on zmi.machine_type_id = mti.id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            zmi.usage_state = 0 and zmi.status = 0
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="machineTypeId != null">
                and mti2.id = #{machineTypeId, jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and zmi.machine_num like #{name, jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectUsageListByTypeIdMachineModel" parameterType="java.util.Map"
            resultType="com.yjjk.monitor.entity.ListVO">
        select
        zmi.machine_id as id, zmi.machine_no as value
        from zs_machine_info zmi
        left join hospital_department zdi on zmi.department_id = zdi.department_id
        left join machine_type_info mti on zmi.machine_type_id = mti.id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            zmi.status = 0
            <if test="machineTypeId != null">
                and mti2.id = #{machineTypeId, jdbcType=INTEGER}
            </if>
        </where>
    </select>
    <select id="export" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo"
            resultType="com.yjjk.monitor.entity.export.machine.MachineExport">
        select
        zmi.machine_no, mti2.`name`, mti.name as machineModel, zmi.machine_num, zdi.name as department_name,
        zmi.usage_state,
        zmi.create_time, zmi.remark
        from zs_machine_info zmi
        left join hospital_department zdi on zmi.department_id = zdi.department_id
        left join machine_type_info mti on zmi.machine_type_id = mti.id
        left join machine_type_info mti2 on mti.parent_id = mti2.id
        <where>
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="unUsedStatus != null">
                and zmi.usage_state = 0
            </if>
            <if test="deleteStatus != null">
                and zmi.usage_state = 1
            </if>
            <if test="normalStatus != null">
                and (zmi.usage_state = 0 or zmi.usage_state = 2)
            </if>
            <if test="machineTypeId != null">
                and mti2.id = #{machineTypeId, jdbcType=INTEGER}
            </if>
            and zmi.status = 0
        </where>
    </select>
    <select id="selectByMachineNum" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from zs_machine_info
        where machine_num = #{machineNum,jdbcType=VARCHAR}
        <if test="machineId != null">
            and machine_id <![CDATA[<>]]> #{machineId, jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectCountByMachineNo" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from zs_machine_info
        where machine_no = #{machineNo,jdbcType=VARCHAR}
        <if test="machineId != null">
            and machine_id <![CDATA[<>]]> #{machineId, jdbcType=INTEGER}
        </if>
    </select>
    <select id="selectCountByMachineMac" parameterType="java.util.Map" resultType="java.lang.Integer">
        select count(1)
        from zs_machine_info
        where machine_mac = #{machineMac,jdbcType=VARCHAR}
        <if test="machineId != null">
            and machine_id <![CDATA[<>]]> #{machineId, jdbcType=INTEGER}
        </if>
    </select>

    <select id="selectByMachineModelId" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT id
        FROM machine_type_info
        where name = #{machineModel,jdbcType=VARCHAR}
    </select>
    <select id="selectAllMachines" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        zmi.machine_id,zmi.machine_no
        from zs_machine_info zmi
        left join hospital_department zdi on zmi.department_id = zdi.department_id
        LEFT JOIN machine_type_info zmti ON zmi.`machine_type_id` = zmti.`id`
        <where>
            zmi.status = 0 and zdi.status = 0 and zmti.status = 0
            and usage_state in (0,2)
            and zmi.status = 0
            <if test="departmentId != null">
                and zmi.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="machineType != null">
                and zmti.parent_id = #{machineType, jdbcType=INTEGER}
            </if>
        </where>
        ORDER BY zmi.machine_id
    </select>
    <select id="searchRepeaterBaseInfo" parameterType="java.lang.Integer"
            resultType="com.yjjk.monitor.entity.VO.SearchMachineVO">
        SELECT zri.`room_id`, zri.`name` as roomName, zrpi.`id` AS repeaterId
        FROM hospital_room zri
        LEFT JOIN hospital_department zdi ON zri.`department_id` = zdi.`department_id` AND zdi.status = 0
        LEFT JOIN zs_repeater_info zrpi ON zrpi.`department_id` = zdi.`department_id` AND zrpi.`room_id` = zri.`room_id`
        AND zrpi.status = 0
        AND zrpi.`linkStatus` <![CDATA[<>]]> 2
        WHERE zri.status = 0
        <if test="departmentId != null">
            and zdi.department_id = #{departmentId, jdbcType=INTEGER}
        </if>
        ORDER BY zri.`room_id`
    </select>
    <select id="getTemperatureMachineName" resultMap="BaseResultMap">
        SELECT id, NAME
        FROM `machine_type_info`
        WHERE TYPE = 0
          AND LEVEL = 0;
    </select>
    <select id="getByMachineId" resultType="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        SELECT zmi.machine_id,
               zmi.machine_num,
               zmi.machine_no,
               zmi.usage_state,
               mti2.id as machine_type_id,
               mti.id  as machineTypeIdChild
        FROM `zs_machine_info` zmi
                 left join machine_type_info mti on zmi.machine_type_id = mti.id
                 left join machine_type_info mti2 on mti.parent_id = mti2.id
        WHERE machine_id = #{machine_id, jdbcType=INTEGER}
    </select>
    <insert id="insertByMachineNums" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        insert into zs_machine_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="machineId != null">
                machine_id,
            </if>
            <if test="name != null">
                `name`,
            </if>
            <if test="machineModel != null">
                machine_model,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="usageState != null">
                usage_state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="machineNo != null">
                machine_no,
            </if>
            <if test="machineNums != null">
                machine_num,
            </if>
        </trim>
        values
        <foreach item="item" collection="machineNums" separator="," index="">
            (
            <if test="machineId != null">
                #{machineId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="machineModel != null">
                #{machineModel,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="usageState != null">
                #{usageState,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="machineNo != null">
                #{machineNo,jdbcType=VARCHAR},
            </if>
            #{item, jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="insertByMachineNum" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        insert into zs_machine_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="machineId != null">
                machine_id,
            </if>
            <if test="machineModel != null">
                machine_model,
            </if>
            <if test="departmentId != null">
                department_id,
            </if>
            <if test="usageState != null">
                usage_state,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="status != null">
                `status`,
            </if>
            <if test="machineNo != null">
                machine_no,
            </if>
            <if test="machineNum != null">
                machine_num,
            </if>
            <if test="machineTypeId != null">
                machine_type_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="machineId != null">
                #{machineId,jdbcType=INTEGER},
            </if>
            <if test="machineModel != null">
                #{machineModel,jdbcType=VARCHAR},
            </if>
            <if test="departmentId != null">
                #{departmentId,jdbcType=INTEGER},
            </if>
            <if test="usageState != null">
                #{usageState,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="machineNo != null">
                #{machineNo,jdbcType=VARCHAR},
            </if>
            <if test="machineNum != null">
                #{machineNum,jdbcType=VARCHAR},
            </if>
            <if test="machineTypeId != null">
                #{machineTypeId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByMachineId" parameterType="com.yjjk.monitor.entity.pojo.ZsMachineInfo">
        update zs_machine_info
        <set>

            <if test="departmentId != null">
                department_id =#{departmentId,jdbcType=INTEGER},
            </if>
            <if test="usageState != null">
                usage_state = #{usageState,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time=#{createTime,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                `status`=#{status,jdbcType=INTEGER},
            </if>
            <if test="machineNo != null">
                machine_no=#{machineNo,jdbcType=VARCHAR},
            </if>
            <if test="machineNum != null">
                machine_num= #{machineNum,jdbcType=VARCHAR},
            </if>
            <if test="machineTypeId != null">
                machine_type_id = #{machineTypeId,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="machineId != null">
                machine_id = #{machineId,jdbcType=INTEGER}
            </if>
        </where>
    </update>

    <select id="getUsingMachinesCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        COUNT(*)
        FROM
        hospital_bed hb
        LEFT JOIN hospital_room hr ON hb.room_id = hr.room_id
        LEFT JOIN hospital_department hd ON hr.department_id = hd.department_id
        LEFT JOIN record_base rb ON hb.`bed_id` = rb.`bed_id`
        <where>
            rb.status = 0 and hb.status = 0 and hr.status = 0 and hd.status = 0
            and rb.usage_status = 0
            <if test="departmentId != null">
                and hd.department_id = #{departmentId, jdbcType=INTEGER}
            </if>
            <if test="roomId != null">
                and hb.room_id = #{roomId, jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>