<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsRawdataInfoMapper">
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsRawdataInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="dataId" jdbcType="INTEGER" property="dataid" />
    <result column="dataNum" jdbcType="VARCHAR" property="datanum" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
</mapper>