<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjjk.monitor.mapper.ZsSleepingBeltInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsSleepingBeltInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="machine_id" property="machineId" jdbcType="VARCHAR" />
    <result column="heart_rate" property="heartRate" jdbcType="INTEGER" />
    <result column="respiratory_rate" property="respiratoryRate" jdbcType="INTEGER" />
    <result column="sleep_state" property="sleepState" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="timestamp" property="timestamp" jdbcType="BIGINT" />
    <result column="temperature" property="temperature" jdbcType="VARCHAR" />
    <result column="humidity" property="humidity" jdbcType="VARCHAR" />
    <result column="repeater_id" property="repeaterId" jdbcType="INTEGER" />
  </resultMap>

  <select id="getByMachineId" resultType="com.yjjk.monitor.entity.pojo.ZsSleepingBeltInfo"
          parameterType="java.lang.Integer">
    SELECT zti.*
    FROM zs_sleeping_belt_info zti
    WHERE machine_id = #{machineId,jdbcType=INTEGER}
      AND zti.repeater_id IS NOT NULL
    ORDER BY create_time DESC
    LIMIT 1
  </select>
</mapper>