<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjjk.monitor.mapper.ZsTemperatureInfoMapper">
    <resultMap id="BaseResultMap" type="com.yjjk.monitor.entity.pojo.ZsTemperatureInfo">
        <id column="temperature_id" jdbcType="INTEGER" property="temperatureId"/>
        <result column="machine_num" jdbcType="VARCHAR" property="machineNum"/>
        <result column="temperature" jdbcType="DECIMAL" property="temperature"/>
        <result column="pattery" jdbcType="INTEGER" property="pattery"/>
        <result column="temperature_status" jdbcType="VARCHAR" property="temperatureStatus"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="timestamp" jdbcType="BIGINT" property="timestamp"/>
    </resultMap>
    <sql id="Base_Column_List">
        temperature_id, machine_num, temperature, pattery, temperature_status, create_time,
    `timestamp`
    </sql>

    <select id="getByMachineId" resultType="com.yjjk.monitor.entity.pojo.ZsTemperatureInfo"
            parameterType="java.lang.Integer">
        SELECT zti.*
        FROM zs_temperature_info zti
        WHERE machine_id = #{machineId,jdbcType=INTEGER}
          AND zti.repeater_id IS NOT NULL
        ORDER BY create_time DESC
        LIMIT 1
    </select>
    <delete id="temperatureInfoTask" parameterType="java.lang.String">
        DELETE
        FROM `zs_temperature_info`
        WHERE create_time <![CDATA[<]]> #{dateOfOneMonthAgo,jdbcType=VARCHAR};
    </delete>
    <select id="getExportTemperatures" parameterType="java.lang.String" resultType="java.lang.String">
        select CONCAT('{', zmi.machine_num, ',', raw_temperature, '(raw)', ',', temperature, ',', create_time, '}', ',')
        from zs_temperature_info zti
                 left join zs_machine_info zmi on zmi.machine_id = zti.machine_id
        WHERE create_time <![CDATA[<]]> #{dateOfOneMonthAgo,jdbcType=VARCHAR};
    </select>
</mapper>